	<!-- DEBUT DU CONTENU | CONTENT BEGINS --> 
	<div class="center">
		<div class="blackborder" id="box1">
      <div id="project-select">
        <%= render_project_jump_box %>
      </div>
			<h1><a name="cont" id="cont">
			<!-- DEBUT DU TITRE DU CONTENU | CONTENT TITLE BEGINS -->
      <%= page_header_title %>
			<!-- FIN DU TITRE DU CONTENU | CONTENT TITLE ENDS -->
			</a></h1>
