	<!-- RIGHT SIDE MENU BEGINS | DEBUT DU MENU LATERAL DROIT -->
	<div class="right">
		<div id="sidebar">
      <%= yield :sidebar %>
      <%= call_hook :view_layouts_base_sidebar %>
    </div>
	</div>
	<!-- RIGHT SIDE MENU ENDS | FIN DU MENU LATERAL DROIT --> 
